<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> {{title}} </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
        integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
        integrity="sha256-nZaxPHA2uAaquixjSDX19TmIlbRNCOrf5HO1oHl5p70=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- Regular CSS -->
    <link rel="stylesheet" href="/public/css/style.css" /> 
    <link rel="stylesheet" href="/public/css/houseForm.css"> <!-- For the form on the main page -->
    <link rel="stylesheet" href="/public/css/houseList.css"> <!-- The grid that shows a list of houses -->
    <link rel="stylesheet" href="/public/css/housePage.css"> <!-- The individual house page that shows all the house information -->

</head>

<body class="body">
    <main>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://localhost:3000/">House Finder</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown" class="active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Manage</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="#">Manage</a></li>
                        </ul>
                    </li>
                    <li><a href="#">System Management</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if hasLogin}}
                    <li>
                        <a href="http://localhost:3000/logout"><span class="glyphicon glyphicon-log-in"></span>
                            Logout</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li>
                        <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>

        {{{body}}}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="public/js/login.js"></script>
    <script src="public/js/registerForm.js"></script>
    <script type="text/javascript" src="/public/js/favouriteHouse.js"></script>
    <script type="text/javascript" src="/public/js/house.js"></script>
    <script type="text/javascript" src="/public/js/comment.js"></script>

</body>

</html>