<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> {{title}} </title>
    </head>

    <body> 
        <main>
            <!-- 
                I'm thinking we put different page types in the body using handlebars
                Like we could have the main page, individual house page, etc.
            -->
            {{{body}}}
        </main>
    </body> 
</html>