
.fav {
  background-color: green;
  color: aliceblue;
}

.notfav {
  background-color: red;
  color: aliceblue;
}

.commentField {
  color: rgb(59, 59, 65);
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-style: normal;
}

.commentUsername {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  font-style: initial;
}

#commentButton {
  color: cadetblue;
  background-color: black;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

#commentDoneButton {
  color: whitesmoke;
  background-color: green;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

#error {
  color: red;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
