
.fav {
  background-color: green;
  color: aliceblue;
}

.notfav {
  background-color: red;
  color: aliceblue;
}

.commentField {
  color: rgb(59, 59, 65);
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-style: normal;
}

.commentUsername {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  font-style: initial;
}

/* #commentButton {
  color: cadetblue;
  background-color: black;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
} */

.commentDone {
  color: whitesmoke;
  background-color: green;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.error {
  color: red;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.profilePic{
  position:relative;
  margin-top: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: grey;
  border-color: black;
  border-style:solid; 
  border-width:1px; 
  border-color:#000;
  text-align:center;
  overflow: hidden;
}
.profilePic img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}