<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="alert alert-success" role="alert">
            <div class="alert-heading errorHeading">Success</div>
            <p>
                log in success!
            </p>
            <p class="mb-0"><a href="http://localhost:3000/" class="alert-link"
                               aria-label="Click to go to home page">Click here</a> to
                login to your account.</p>
        </div>
    </div>
</div>