<div class="row justify-content-center">
    <div class="alert alert-danger" role="alert">
    <div class="alert-heading errorHeading">Error</div>
    <p>
    The page you are trying to access does not exist.
</p>
<p class="mb-0"> <a href="http://localhost:3000/login" class="alert-link"
aria-label="Click to go to the home page">Click here</a> to go to the login page.</p>
</div>
</div>