<div class="houseListPage">
    <h1 id="title"> House List Page </h1>

    <!--
        Content on page:
            Displays a grid view of houses that match user criteria
            Each grid square will contain:
                Links to individual house pages
                Photo of the house
                Brief description

        So without CSS the image size won't be regulated and it will all
        look like a long list of course

        As of right now, this code will display all the houses in the collection
        We will change this to houses that match the user criteria only of course
      -->

    <style>
        .cover-container {
            height: 200px;
            width: 100%;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        .cover-item {
            position: relative;
            display: inline-block;
            margin: 8px 8px;
            box-shadow: 2px 2px 4px #bbb;
            border-top-right-radius: 4px;
            width: 116px;
            height: 158px;
            vertical-align: bottom;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <div class="houseList">
        {{#each list}}
        <div class="cover-container">
            {{#each this.profilePicture}}
            <img class="cover-item" src="{{this}}" alt="house" style="width:40%">
            {{/each}}
        </div>

        <a href="house/{{this._id}}">More Details</a>
        <p id="houseDescription"> {{this.description}} </p>
        {{/each}}
    </div>
</div>