<div class="houseListPage">
    <h1 id="title"> House List Page </h1>

     <!--
        Content on page:
            Displays a grid view of houses that match user criteria
            Each grid square will contain:
                Links to individual house pages
                Photo of the house
                Brief description

        So without CSS the image size won't be regulated and it will all
        look like a long list of course

        As of right now, this code will display all the houses in the collection
        We will change this to houses that match the user criteria only of course
      -->

    <div class="houseList">
        {{#each list}}
            <img id="image" src={{this.houseImage}} alt="House Image">
            <a id="link" src="individualHouse.handlebars"> More Details </a>
            <p id="houseDescription"> {{this.description}} </p>  
        {{/each}}
    </div>
</div>