<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="alert alert-success" role="alert">
            <div class="alert-heading errorHeading">Success</div>
            <p>
                Your account has been created!
            </p>
            <p class="mb-0"><a href="/account" class="alert-link"
                               aria-label="Click to go to login page">Click here</a> to
                login to your account.</p>
        </div>
    </div>
</div>